<%= stylesheet_link_tag "bokes_new", :media => "all" %>
<body>
  <div class="title">
    <h7>さあボケて！！</h7>
  </div>
  
  <span class="image"><%= image_tag $new_boke_params, width: '450px', height: '500px'  %></span>
  <span><%= render 'boke', boke: @boke %></span>
</body>